.listContainer {
    padding: 0px 20px 10px 20px;
}

.title {
    color: var(--white);
    font-size: 2em;
    font-weight: bold;
    padding: 0px 20px;
}

@media (max-width: 1123px) {
    .listContainer {
        padding: 0px 11px 10px 11px;
    }

    .title {
        padding: 0px 11px;
    }
}