:root {
    --btnColor: none;
}

.btn {
    padding-top: calc(100% - 3px);
    width: 100%;
}

.btn:active,
.btn:focus,
.btn:hover {
    background-color: var(--btnColor) !important;
}

.col {
    padding: 5px !important;
}

.container {
    padding: 0px 12px;
}

.header {
    border-bottom: 1px solid var(--lightgray);
    padding-bottom: 10px;
}

.rounded {
    border-radius: 50%;
}

.selected {
    --border: 2px solid var(--main-red) !important;
}

.selected:active,
.selected:focus,
.selected:hover {
    background-color: var(--btnColor);
    --border: 2px solid var(--main-red) !important;
}

.title {
    color: var(--gray);
    font-size: large;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 3px;
}