.marginTop {
    margin-top: 0px;
}

.search {
    border: none;
    width: 100%;
}

.search:active, .search:focus {
    box-shadow: none !important;
}

.searchContainer {
    border: 1px solid var(--lightgray);
    border-radius: 4px;
    padding: 0px 11px;
    width: 45%;
}

.searchIcon {
    color: var(--gray);
}

@media (max-width: 767px) {
    .marginTop {
        margin-top: 17px;
    }
    
    .searchContainer {
        width: 100%;
    }
}